header, footer {
    color: white;
}

.navbar {
    width: 100%;
    flex-wrap: nowrap !important;
}

nav {
    padding: 0.65em 2em;
}

nav #page_title_nav {
    font-weight: 600;
    font-size: 2.5rem;
    white-space: nowrap;
}

nav .logo {
    width: 150px;
}

nav #page_title_nav{
    font-size: 2rem;
}

* {
  font-family: "Poppins", sans-serif;
}

#account_navigate > *:hover {
    cursor: pointer;
}

nav #sideNav {
    visibility: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 8rem;
    font-size: 0.83rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .cuteicon {
    font-size: 16px;
    font-weight: bold;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 0.9rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #dedede;
    color: rgb(212, 14, 38);
}

  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


body {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: max-content;
    color: black;
}


main {
    background-color: white;
}

.body_region {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
}

.page_title {
    font-size: 3rem;
    color: rgb(212, 14, 38);
    font-weight: 400;
}

footer {
    font-size: 0.8rem;
    background-color: black;
    margin: 0;
    padding: 1rem 2rem;
}

.input_box, .myTextarea {
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    border: solid rgb(211, 211, 211) 1px;
    padding: 0 0.5rem;
} 

::placeholder, #no_country_option {color: rgb(204, 202, 202);}

.input_title {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 3rem;
    width: 22rem;
    height: 5rem;
}

.input_title_area {
    display: flex;
    gap: 1rem;
}

#edit_title {
    color: gray;
}

#edit_title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.checkbox {
    gap: 0.5rem;
}

input[type="checkbox"] {
    accent-color: rgb(212, 14, 38);
    width: 1rem;
    height: 1rem;
}

label, th {
    font-size: 0.95rem;
    font-weight: 500;
}

.flex_row {
    display: flex;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.align_items_center {
    align-items: center;
}

.red_theme_button {
    background-color: #c1071e;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: #c1071e solid 1.5px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.red_theme_button:hover {
    cursor: pointer;
    background-color: white;
    color: #c1071e;
}

.white_button {
    background-color:rgb(230, 230, 230);
    /* background-color: white; */
    color: #c1071e;
    font-size: 1rem;
    border-radius: 5px;
    border: #c1071e solid 1.5px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}


.white_button:hover {
    cursor: pointer;
    background-color: white;

}

.white_theme_button {
    background-color: transparent;
    color: #c1071e;
    font-size: small;
    border:none;
    padding: 0.2rem 0.5rem;
    text-decoration: underline;
    white-space: nowrap;
    
}

.white_theme_button:hover {
    cursor: pointer;
}

#submit_btn {margin-top: 2%;}

#submit_btn, #delete_btn {
    width: 25rem;
    height: 3rem;
}

.form_input, .form_whole, .form_col{gap: 1.5rem;} /*gap btw input boxes*/

.form_whole {align-items: center;}

.form_body {gap: 9rem;} /*include .form_col#left_col & .form_col#right_col*/

.form_col > *   {
    display: flex;
    flex-direction: column;
}

#genres_select {
    font-size: 0.8rem;
    gap: 1rem;
}

.require_symbol {color: #c1071e;}



.flex_row.pagination_whole, .flex_row.pagination-whole {
    gap: 0.7rem;
    align-items:baseline;
    align-self: center;
    justify-content: center;
}

.pagi_range, .pagi-range {
color: rgb(155, 155, 155);
}

.pagi_range:hover, .pagi-range:hover {
cursor: pointer;
text-decoration: underline;
}

nav #sideNav {
    visibility: hidden;
}

.pagenumbers, .pagination-search {
    display: flex;
    gap: 0.5rem;
}

.pagenumbers button {
    padding: 0;
    width: 2.2rem;
    height: 2.2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: #c1071e;
    border: #c1071e solid 1.5px;
    background-color: white;
    white-space: nowrap;
}

.pagination-search button{
    padding: 0;
    width: 2.2rem;
    height: 2.2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    white-space: nowrap;
}

.pagenumbers button:hover, .pagenumbers button.active, .pagination-search button:hover, .pagination-search button.active {
    cursor: pointer;
    text-decoration: underline;
    background-color: #c1071e;
    color: white;
}

@media screen and (max-width: 62em) {
    nav #sideNav {
        visibility: visible !important;
    }
    nav .nav-right .hide_later {display: none;}
}

@media screen and (max-width: 55em) {
    body {min-width: min-content;}

    nav {padding: 0.4rem 1.3rem;}

    nav .nav-left {gap: 1rem;}

    nav #page_title_nav{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .form_whole {align-items: flex-start;}

    .form_body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    footer .wrapper-footer {flex-direction: column;}
}


@media screen and (max-width: 40em) {
    nav .logo {width: 100px !important;}

    .pagenumbers button, .pagination-search button{
    width: 1.8rem;
    height: 1.8rem;
    }
}

@media screen and (max-width: 28em) {
    .pagenumbers, .pagination-search {gap: 0.2rem!important;}
    .pagi_range, .pagi-range {font-size: 0.8rem;}
}

@media screen and (max-width: 20em) {
    .pagi_range, .pagi-range {font-size: 0.7rem;}
    .pagenumbers button, .pagination-search button{
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.55rem;
    }
    .pagenumbers, .pagination-search{
        gap: 0.1rem!important;
    }
    .flex_row.pagination_whole, .flex_row.pagination-whole {gap: 0.5rem;}

}