*, *::after,*::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html{
  /* contain: content; */
  background-color: black;
  font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
}
#blur_frame {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100vh;
  width: 100%;
  gap: .5em;
  z-index: 1;
}
.movie-info{
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width:40vw;
}
.rating {
  display: flex;
  gap: .5em;
  align-items: center;
}
.thumbnail_portrait{
    padding: 2em;
}
.thumbnail_portrait>img{
    width: 20em;
    border-radius: 10px;
}
.title {
  width: fit-content;
  color: white;
  font-size: 3rem;
  font-weight: 800;
}
.description {
  font-size: 1rem;
  line-height: 1.5em;
}
.close-video{
    display: none;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
}
.screen {
display:flex;
  background-size: cover;
  margin: 0;
  height: 100vh;
  opacity: 0.2;
}
#youtube_frame {
  position: fixed;
  margin: 7vh 5%;
  width: 90%;
  height: 86%;
  overflow: hidden;
  z-index: 4;
  visibility: collapse;
}
.youtube {
  margin: 0;
  width: 100%;
  height: 100%;
}

.regular_setting {
  color: white;
  
  font-size: .8rem;
}

#movie_radio {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  /* width: 120px; */
}


.rating input {
  display: none;
}
.rating label {
  display: block;
  pointer-events: none;
  width: 13px;
}
.rating label:before {
  content: "\f005";
  font-family: fontAwesome;
  font-weight: 10;
  display: block;
  font-size: 12px;
  /* color: #3498db; */
  color: #1d1c1c;
  /* bottom: 0; */
}
.rating label:after {
  content: "\f005";
  font-family: fontAwesome;
  font-weight: 10;
  display: block;
  font-size: 12px;
  color: #3498db;
  /* color: #1d1c1c; */
  opacity: 1;
  /* bottom: 0; */
}

.rating input:checked ~ label:after {
  opacity: 0;
}



.button {
  width: 150px;
  color: #3498db;
  border: 2px solid #3498db;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 4px;
  transition: 0.8s;
  z-index: 1;
}
.button:hover {
  color: #fff;
  border: 2px solid #fff;
}
.button::before {
  content: "";
  left: 0;
  width: 150px;
  height: 0%;
  background: #3498db;
  position: relative;
  overflow: hidden;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  left: 0;
  top: 0;
  border-radius: 0 0 0 0;
}
.btn2::before {
  left: 0px;
  top: 0;
  border-radius: 0 0 0 0;
}
.btn1:hover::before,
.btn2:hover::before {
  height: 100%;
}

.equipe {
  font-size: 1rem;
}
.cast {
  float: left;
  width: 60%;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}
.cover {
  width: 90%; 
}

.scroll-images {
  display: flex;
  justify-content: left;
  overflow: hidden;
  scroll-behavior: smooth;
}

.child {
    height: 100%;
  margin-right: 5px;
  font-size: 12px;
  /* cursor: pointer; */
  pointer-events: none;
  border: none;
  overflow: none;
}

.scroll-images::-webkit-scrollbar {
  width: 0%;
}

.child-img {
  width: 80px;
  min-width: 80px;
  height: 100px;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.icon_container {
  display: flex;
}
p {
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.icon {
  margin-top: 5px;
  width: fit-content;
  color: white;
  display: flex;
  background-color: transparent;
  font-size: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
button {
  margin: 0;
  padding: 0;
}
#iconl {
  padding-right: 5px;
}
#iconr {
  padding-left: 5px;
}

.icon:hover {
  color: #3498db;
}
.panel {
  font-size: 12px;
  width: 80px;
  height: 140px;
  /* background-color: red; */
  margin-right: 20px;
  /* text-align: start; */
  display: inline-flex;
  flex-direction: column;
}
.sub_panel {
  background: blue;
  width: 100%;
  height: 70%;
  overflow: hidden;
  align-self: flex-start;
}
.img_cast {
  width: 100%;
  object-fit: cover;
}
.cast_name {
  width: 100%;
  height: 20%;
  padding-top: 10%;
}
.director {
  float: left;
}
.director_name {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: .8rem;
  padding-bottom: 1vh;
}
@media screen and (max-width: 768px) {
  .movie-info{
      flex-direction: column;
  }
  .right-container{
      width: 80%;
  }
}