*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #131834;
}

main {
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 85%);
}

/* Start side bar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1em;
  width: 100%;
  background-color: black;
  z-index: 99;
}
nav #subBar {
  width: 0;
}
nav .logo {
  margin-top: 0.3em;
  width: 12rem;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 1em;
}
nav .nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 2em;
}
nav #sideNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  height: 100%;
  width: 0;
  top: 4.5%;
  left: 0;
  overflow-x: hidden;
  background-color: black;
  gap: 0.3em;
  padding-top: 1em;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
nav #sideNav a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #999;
  padding-left: 1em;
  padding-bottom: 1em;
}
nav #sideNav .navigation-menu-settings {
  width: 100%;
  border-bottom: 1px solid #333;
}
nav .sign-in-subBar {
  background-color: #c1071e;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
nav .sign-in-subBar:hover {
  cursor: pointer;
  background-color: white;
  color: #c1071e;
}

/* End Sidebar */
/* Billboard */
.movie-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 2em;
}

.movie-container {
  padding-left: 2em;
}

.thumbTile__image {
  border-radius: 5px;
  width: 98%;
}

.thumbTitle {
  padding: 0.3em 2em;
}

.card {
  display: grid;
  line-height: 1.6;
  max-width: 35ch;
  z-index: -1;
  transition: transform 500ms ease;
}
.card:hover {
  transform: scale(1.05);
}
.card:hover .card-title:after {
  transform: scaleX(1);
}
.card:hover .card-content, .card:focus-within .card-content {
  transform: translateY(0);
  transition: transform 500ms ease;
  transition-delay: 500ms;
}
.card:focus-within .card-content {
  transition-duration: 0ms;
}
.card:hover, .card:focus-within {
  transform: scale(1.05);
}
.card .card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}
.card .card-content {
  gap: 1em;
  margin-top: -11em;
  z-index: 1;
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 20%, black);
  overflow: hidden;
  transform: translateY(65%);
}
.card:hover .card-content > *:not(.card-title), .card:focus-within .card-content > *:not(.card-title) {
  opacity: 1;
  transition-delay: 1000ms;
}
.card .card-title {
  position: relative;
  font-size: 1rem;
  width: max-content;
}
.card .card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -3px;
  width: calc(100% + var(--padding));
  background-color: #ffcccb;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}
.card .card-body {
  padding-top: 0.5em;
}
.card .button {
  background-color: #c1071e;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.card .button:hover,
.card .button:focus {
  cursor: pointer;
  background-color: white;
  color: #c1071e;
}

.billboard,
.header-navigation-text,
.sign-in-nagivation {
  display: none;
}

@media (min-width: 62em) {
  .header-navigation-text {
    display: block;
  }

  .hamburger {
    display: none;
  }

  /* Start side bar */
  .nav-colored {
    background-color: #000;
    transition: background-color 0.4s ease;
  }

  .nav-transparent {
    background-color: transparent;
    transition: background-color 0.4s ease;
  }

  nav {
    position: fixed;
    padding: 1em 2em;
  }
  nav .header-navigation-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    list-style: none;
    gap: 0.875em;
  }
  nav .header-navigation-text li {
    font-size: clamp(0.5rem, 1vw, 0.875rem);
    text-decoration: none;
    font-weight: 300;
    color: #fff;
  }
  nav .header-navigation-text li:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  nav .sign-in-nagivation {
    display: block;
    background-color: #c1071e;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  nav .sign-in-nagivation:hover {
    cursor: pointer;
    background-color: white;
    color: #c1071e;
  }

  /* Billbroad */
  .billboard {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    /* Billboard Button */
    /* End Button */
  }
  .billboard img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    min-height: 100vh;
  }
  .billboard .billboard-description {
    font-size: 1.4vw;
  }
  .billboard .billboard-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max(50%, 500px);
    padding: 8em 2em;
  }
  .billboard .text-shadow {
    text-shadow: 2px 2px #10141c;
  }
  .billboard .more-info,
.billboard .button-play {
    padding: 0.3em 0.875em;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
  }
  .billboard .more-info:hover,
.billboard .button-play:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .billboard .button-play {
    display: flex;
    gap: 0.2em;
  }
  .billboard .button-container {
    display: flex;
    gap: 1em;
  }
  .billboard .more-info {
    color: #fff;
    background-color: rgba(109, 109, 110, 0.7);
  }

  /* Billboard */
}
/* Swipe */
@media screen and (max-width: 30em) {
  aside {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
