*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* contain: content; */
  background-color: hsl(213, 24%, 7%);
  font-family: "Poppins", sans-serif;

}
body {
  height: 100vh;
  width: 100%;
}

#blur_frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10%;
  width: 100%;
  gap: 0.5em;
  z-index: 1;
}
.logo-container{
  position: absolute;
  width: 100%;
  padding: 1.5% 1.5%;
  z-index: 4;
}
.logo {
  width: 12rem;
}
.movie-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5em;
  width: 80%;
  height: 80%
}
.info_text {
  font-size: .8rem;
  font-weight: 200;
  padding-bottom: 1em;
}
.director_text {
  font-size: 0.8rem;
}

.rating {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.thumbnail_portrait {
  padding: 2em;
}
.thumbnail_portrait > img {
  width: 12em;
  border-radius: 10px;
}
.title {
  width: fit-content;
  color: white;
  font-size: 1.75rem;
  font-weight: 800;
}
.description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5em;
}
.close-video {
  display: none;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
}
.screen {
  display: flex;
  background-size: cover;
  margin: 0;
  height: 70vh;
  opacity: 0.2;
}
#youtube_frame {
  position: fixed;
  margin: 7vh 5%;
  width: 90%;
  height: 86%;
  overflow: hidden;
  z-index: 6;
  visibility: collapse;
}
.youtube {
  margin: 0;
  width: 100%;
  height: 100%;
}

.regular_setting {
  color: white;

  font-size: 0.8rem;
}

.genre{
  font-style: italic;
  color:#3498db;
}

#movie_radio {
  display: flex;
  
  /* height: 19.33px; */
  /* flex-direction: row; */
  margin-top: 0px;
  /* overflow: hidden; */
  /* width: 120px; */
}

.rating input {
  display: none;
}
.rating label {
  display: block;
  pointer-events: none;
  width: 13px;
  align-items: center;
  /* content: "\f005";
  font-family: fontAwesome;
  font-weight: 10;
  font-size: 12px;
  color: #1d1c1c; */
}

.rating label:before {
  content: "\f005";
  font-family: fontAwesome;
  font-weight: 10;
  display: block;
  /* align-self: flex-start; */
  font-size: 12px;
  color: #3498db;
  /* color: #1d1c1c; */
  opacity: 1;
  /* bottom: 0; */
}

.rating input:checked ~ label:before  {
  /* opacity: 0; */
  font-size: 12px;
  color: #cdcdcd;
}

.button {
  width: 180px;
  color: #fff;
  border: 2px solid #c0071d;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 4px;
  transition: 0.8s;
  z-index: 1;
}
.button:hover {
  color: hsl(60, 100%, 50%);
  border: 2px solid #fff;
}
.button::before {
  content: "";
  left: 0;
  width: 150px;
  height: 0%;
  background: rgb(192, 7, 29);
  position: relative;
  overflow: hidden;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  left: 0;
  top: 0;
  border-radius: 0 0 0 0;
}
.btn2::before {
  left: 0px;
  top: 0;
  border-radius: 0 0 0 0;
}
.btn1:hover::before,
.btn2:hover::before {
  height: 100%;
}

.equipe {
  font-size: 1rem;
}
.cast {
  float: left;
  width: 60%;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}
.cover {
  width: 81%;
}

.scroll-images {
  display: flex;
  justify-content: left;
  overflow: hidden;
  scroll-behavior: smooth;
}

.child {
  height: 100%;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 900;
  /* cursor: pointer; */
  pointer-events: none;
  border: none;
  overflow: none;
}

.scroll-images::-webkit-scrollbar {
  width: 0%;
}

.child-img {
  width: 80px;
  min-width: 80px;
  height: 100px;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.icon_container {
  display: flex;
  padding-bottom: .5em;
}

.icon {
  margin-top: 5px;
  width: fit-content;
  color: white;
  display: flex;
  background-color: transparent;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  filter: contrast(500%);
}
button {
  margin: 0;
  padding: 0;
}
#iconl {
  padding-right: 5px;
}
#iconr {
  padding-left: 5px;
}

.icon:hover {
  color: #3498db;
}
.panel {
  font-size: 12px;
  width: 80px;
  height: 140px;
  /* background-color: red; */
  margin-right: 20px;
  /* text-align: start; */
  display: inline-flex;
  flex-direction: column;
}
.sub_panel {
  background: blue;
  width: 100%;
  height: 70%;
  overflow: hidden;
  align-self: flex-start;
}
.img_cast {
  width: 100%;
  object-fit: cover;
}
.cast_name {
  width: 100%;
  height: 20%;
  padding-top: 10%;
}
.cast_name p {
  font-weight: 100;
  font-size: .6rem;
}
.director {
  color: #fff;
  float: left;

}
.director_name {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 1vh;
  font-weight: 500;
  font-size: 1.2rem;
}
.comment-list{
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 80vw;
  padding-right: .5em;
  height: revert;
}
.comment-wrapper{
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.comment-form{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.comment-form input{
  padding: .5em;
  color: #fff;
  background-color:hsl(213, 24%, 7%) ;
  border: none;
  width: 60vw;
  outline: none;
  outline:0 0 1px white 0;
}
.comment-form input:focus{
  border-bottom: #c0071d 1px solid;
  transition: all .35s ease-in-out;
}

.comment-form button{
  padding: .5em;
  color: #fff;
  border: none;
  background-color:hsl(353, 93%, 39%) ;
  border-radius: 10px;
}
.comment-form button:hover{
  cursor: pointer;
  background-color:rgb(236, 77, 95)  ;

}


.comment-list .wrapper{
  display:flex;
  flex-direction: column;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  gap: .5em;
}

.comment-list .message{
  font-size: 0.9rem;
  text-align: left;
}
.comment-list .user-name{
  text-align: right;
  font-size: 0.6rem;
  font-weight: 300;
}
.comment-list .author-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-list button{
  font-size: .6em;
  color: #fff;
  background-color:hsl(353, 89%, 64%) ;
  border-radius: 10px;
  border: none;
  padding: .5em;
}
.comment-list button:hover{
  cursor: pointer;
  background-color: hsl(353, 89%, 40%) ;
}
.horizontal-body{
  display: flex;
  padding: 2em;
  padding-bottom: 1em;
}
.left-column{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.right-column{
  width: fit-content;
}
.vote-container{
  display: flex;
  gap:.5em;
  align-items: center;
}
.vote,
.delete{
  padding: 0.3em;
}
.vote:hover,
.delete:hover{
  background-color: hsl(213, 24%, 30%);
  cursor: pointer;
}
.top-comment-section{
  display: flex;
  justify-content: space-between;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    visibility: collapse;
    background-color: #ffffff10;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

@media screen and (max-width: 768px) {
  #blur_frame {
    position: revert ;
    display: flex;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    z-index: 4;
  }
  .logo-container .logo{
    width: 10rem;
  }
  .movie-info {
    flex-direction: column;
    align-items: center;
  }
  .screen{
    height: 0;
  }
  .cast{
    width: 100vw;
  }
  .thumbnail_portrait > img {
    margin-top: 3em;
    width: 15em;
    border-radius: 10px;
  }
  .screen {
    background: none !important;
  }
  .button_container {
    display: flex;
  }
  .comment-wrapper{
    flex-direction: column;
    gap: 1em;
  }
  .comment-form{
    width: 85%;
  }

  .horizontal-body{
    flex-direction: column-reverse;
    gap: 1em;
  }
  .right-column{
    width: 100%;
  }

}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
  padding: 1em;
  color: #fff;
}
footer ul {
  display: grid;
  align-items: center;
  list-style: none;
  color: rgb(153, 153, 153);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1em;
}
footer a {
  color: inherit;
}
footer .wrapper-footer {
  display: flex;
  justify-content: space-between;
}
footer .social-links {
  display: flex;
  gap: 0.5em;
}
footer .member-footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
footer .member-footer-copyright li {
  list-style: none;
}
footer .members {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media (min-width: 62em) {
  .right-container{
    width: 40%;
  }
  .horizontal-body{
    padding: 2em 7em;
  }
  .comment-list{
    width: 60vw;
  }
  footer .member-footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .member-footer-copyright li {
    list-style: none;
  }
  footer .member-footer-copyright .members {
    flex-direction: row;
  }
}

// header
