* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.body {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.login-page{
  flex-direction: row-reverse;
}

.imgBox,
.contentBox {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.imgBox {
  background-image: url(/assets/image/login.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
}

.signup-page .imgBox {
  background-image: url(/assets/image/signup.jpg);
}

.contentBox {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo img {
  width: 32.9em;
}

.logo {
  margin: auto;
  margin-bottom: 0;
  padding-top: 5em;
}

.heading {
  margin: 2.5em 0 0;
}

.welcomeText {
  font-size: 1.6rem;
  font-weight: normal;
}

.title {
  font-size: 2.8rem;
}


.form-content {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.content-main {
  width: 32.9em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.signup-form .content-main form {
  gap: 1.3em;
}

.form-group {
  position: relative;
  margin-top: 1em;
  border-radius: 5px;

  border-width: 3px;
  border-style: solid;
  border-color: #C2D1D4;
  display: flex;
  align-items: center;
}

.icon img {
  height: 2rem;
  margin: 0.5rem 0 0 0.9rem;
  opacity: 0.5;
}

.form-group label {
  position: absolute;
  top: 27%;
  font-size: 1.7em;
  color: #958f8c;
  left: 40px;
  pointer-events: none;
  transition: 0.2s;
}

.form-input:valid~label,
.form-input:focus~label {
  display: none;
}

.form-input {
  display: flex;
  height: 5rem;
  width: 5rem;
  font-size: 1.6rem;
  padding-left: 0.6em;
  padding-right: 2.5em;
  flex: 1;
  outline: none;
  border-style: none;
  background-color: none;
}

.show {
  width: 2rem;
  height: 2rem;
  border: none;
  display: block;
  cursor: pointer;
}

.passShow {
  padding: 0 5px;
  display: none;
}

.form-input:focus~.passShow,
.form-input:valid~.passShow {
  display: block;
  font-size: 0.9em;
  border-radius: 5px;
  border-style: none;
}


.form-submit {
  color: white;
  font-size: 1.6rem;
  background-color: #c1071e;
  height: 5rem;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: red;
}

.content-other {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-rememberMe,
.agreement {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgetPass a {
  font-size: 1em;
  color: #2c5282;
  font-weight: 400;
  text-decoration: none;
}

.agreement a {
  color: #07B464;
  text-decoration: none;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.footer {
  font-size: 1.6rem;
  margin-top: auto;
  text-align: center;
  padding: 3em 0 1em;
}

.footer a {
  color: #07B464;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 400;
}

.login-page .footer a{
  color: #2c5282;
}

a:hover {
  text-decoration: underline;
}


@media screen and (max-width:900px) {
  .imgBox {
    display: none;
  }

  .contentBox {
    overflow: unset;
    margin: auto;
    width: auto;
  }
}

@media  screen and (max-width:350px) {
  html {
    font-size: 2.5vw;
  }
}