@use "./abstract/colors";
@use "./components/sideBar";
@use "./components/footer";
@use "./layout/card";
@use "./utilities/mixins";
@use "./layout/navBar";
@use "./layout/billboard";
@use "./layout/search";
@use "./components/accountMenu";
@use "./components/pagination";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.active{
  font-weight: 700 !important;
  color: colors.$white !important;
}
.hidden{
  display: none !important;
}
.transition{
  transition: .5s;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;

  color: colors.$white;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: colors.$black;

}


@media screen and (max-width: 30em) {
  aside {
    display: none;
  }
}


#loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: colors.$white;
  background-image: url("/assets/image/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}
#loading::after{
  color: black;
  content: "Enjoy watch this cat while we get movie";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(15em);

}
#body::-webkit-scrollbar {
  width: 15px;
}

#body::-webkit-scrollbar-track {
  background-color: colors.$black;
  border-radius: 100px;
}

#body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: colors.$red;
}

