@use "../abstract/colors";
@use "../utilities/mixins";

/* Start side bar */

nav {
  @include mixins.flex(row, center, space-between);
  position: fixed;
  padding: 0 1em;
  gap:1em;
  background-color: colors.$black;
  z-index: 99;
  .nav-right {
    @include mixins.flex(row, center, flex-start);
    white-space: nowrap;
    gap: 1em;
  }
  .search-box{
    display: flex;
    background: colors.$black;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0.1rem 0.75rem colors.$red;
  }

  .search-box:hover > .icon{
    background: #536179;
  }
 
  input{
    width: 0;
    border: none;
    outline: none;  
    background: none;
    font-size: 1.1rem;
    transition: .5s;
    line-height: 40px;
    color: #fff;
 
  }
  .open{
    width: 100%;
    padding: 0 20px;
  }
  .icon{
    color: colors.$white;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    background: colors.$black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    transform: scale(0.90);
    
  }
  
  #subBar {
    width: 0;
  }
  .logo {
    margin-top: 0.3em;
    width: 12rem;
  }
  .nav-left {
    display: flex;
    align-items: center;
    gap: 3em;
  }

  .sign-in-subBar {
    @include mixins.button-style();
  }

  .sign-in-subBar:hover {
    @include mixins.button-hover();
  }

}
/* End Sidebar */

@media (min-width: 62em) {

  .header-navigation-text {
    display: block;
  }
  .hamburger {
    display: none;
  }
  /* Start side bar */
  .nav-colored {
    background-color: #000;
    transition: background-color 0.4s ease;
  }
  .nav-transparent {
    background-color: transparent;
    transition: background-color 0.4s ease;
  }
  .nav-gradient {
    --color-start: #11111100;
    --color-end: #111111ff;
    background-image: linear-gradient(
      0deg,
      var(--color-start) 0,
      var(--color-end) 100%
    );
  }
  nav {
    position: fixed;
    padding: 1em 2em;
    background-color: transparent;

    .header-navigation-text {
      @include mixins.flex(row, center, flex-start);
      text-transform: uppercase;
      list-style: none;
      gap: 0.875em;
      li {
        font-size: clamp(0.5rem, 1vw, 0.875rem);
        text-decoration: none;
        font-weight: 300;
        color: #fff;
      }
      li:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
    .sign-in-nagivation {
      display: block;
      @include mixins.button-style();
    }
    .sign-in-nagivation:hover {
      @include mixins.button-hover();
    }
  }
}
