@use "../abstract/colors";

.search-content {
  display: none;
  margin-top: 10vh;
  grid-template-columns: repeat(auto-fill, minmax(9.5em, 1fr));
  place-content: center;
  gap: 2em;
  padding: 1em;
}
.movie-list-grid {

  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.5em, 1fr));
  gap: 2em;
  padding: 1em;
}


.movie-search-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  .card-content {
    display: grid;
    gap: 0.5em;
  }
  .movie-search-image {
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: 10/16;
  }
  .movie-search-image:hover,
  .card-title:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .card-body {
    color: colors.$grey;
  }
}
.error-search-page {
  display: grid;
  height: 100vh;
  place-content: center;
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 62em) {
  .search-content {
    margin-top: 5%;
  }
  .error-search-page {
    margin-top: auto;
    margin-bottom: 30vh;
  }
}
