@use "../abstract/colors";
@use "../utilities/mixins";

nav {
  #sideNav {
   @include mixins.flex(column, flex-start, flex-start);
    position: fixed;
    height: 100%;
    width: 0;
    top: 4.9vh;
    left: 0;
    overflow-x: hidden;
    background-color: colors.$black;
    gap: 0.3em;
    padding-top: 1em;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      color: colors.$side__font;
      padding-left: 1em;
      padding-bottom: 1em;
    }

    .navigation-menu-settings {
      width: 100%;
      border-bottom: 1px solid #333;
    }
  }
}
