$red: rgb(192, 7, 29);
$red-light: #ffcccb;
$white: rgba(255,255,255);
$grey: 	rgba(222,222,222);
$purple: rgba(67,70,94);
$blue:rgba(19,24,52);
$black: rgba(0,0,0,1);
$side__font: rgb(153, 153, 153);