$red: rgb(192, 7, 29);
$red-light: rgb(255, 204, 203);
$white: rgba(255,255,255);
$grey: 	rgba(222,222,222);
$purple: rgba(67,70,94);
$blue:rgba(19,24,52);
$black: hsl(213, 24%, 7%);
$black-light: hsl(213, 24%, 20%);
$side__font: rgb(153, 153, 153);
$fade: #b3b3b3;